div.dagred3-container {
    /* min-height: 600px; */
    /* min-width: 800px; */
    /* resize: both; */
  }
  
  div.dagred3-container > svg {
    height: 100%;
    width: 100%;
  }
  
  .dagred3-container .node rect,
  .dagred3-container .node circle,
  .dagred3-container .node ellipse,
  .dagred3-container .node polygon {
    stroke: #555;
    fill: #fff;
  }
  
  .dagred3-container .edgePath path {
    stroke: #555;
    fill: transparent;
    stroke-width: 1.5px;
  }
  
  .dagred3-container .edgeLabel foreignObject {
    overflow: visible;
  }
  
  .dagred3-container .edgeLabel foreignObject u {
    text-decoration: none;
  }
  
  .dagred3-container .node text {
    pointer-events: none;
  }
  
  
  div.dagred3-tooltip {
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid #555;
    padding: 15px;
  }