/* src/index.css */
div.daggre-container {
}
div.daggre-container > svg {
  height: 100%;
  width: 100%;
}
.daggre-container .node rect,
.daggre-container .node circle,
.daggre-container .node ellipse,
.daggre-container .node polygon {
  stroke: #555;
  fill: #fff;
}
.daggre-container .edgePath path {
  stroke: #555;
  fill: transparent;
  stroke-width: 1.5px;
}
.daggre-container .edgeLabel foreignObject {
  overflow: visible;
}
.daggre-container .edgeLabel foreignObject u {
  text-decoration: none;
}
.daggre-container .node text {
  pointer-events: none;
}
div.daggre-tooltip {
  background-color: rgba(255, 255, 255, .8);
  border: 1px solid #555;
  padding: 15px;
}
